.about {
    height: 500px;
    background: url('seafood10.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.about .about-info {
    padding-top: 100px;
    width: 50%;
    float: right;
}

.about .about-info .info-title {
    font-weight: bold;
    font-size: 50px
}

.about .about-info .info-title span {
    font-weight: normal
}

.about .about-info .info-dir {
    font-size: 40px;
    color: black;
    margin-bottom: 20px
}

.about .about-info .info-desc {
    color: white;
    margin-bottom: 15px;
    line-height: 1.8
}

.about .about-info .info-desc a {
    text-decoration: none
}
